page-summary {

  ion-slides {
    height: 150px;
  }

  .top-row {
  } 

  .top-col {
    color: gray;
    height: 80px;
    background: #e1e1e1;
    border: 1px white solid;

    h5 {
      margin: 5px;
    }
    p {
      margin: 3px;
    }

    .trend-red {
      color: red;
    }
    .trend-green {
      color: green;
    }
    .trend-gray {
      color: gray;
    }

  }

  .top-avatar {
		width: 60px;
		margin: auto;
		border-radius: 50% 50% 50% 50%;

		p {
			margin: 5px;
		}
	}

}
