page-summary {

	ion-content {
    background: #e1e1e1 !important;
	}

  ion-slides {
    height: 150px;
  }

    .trend-red {
      color: red !important;
    }
    .trend-green {
      color: green !important;
    }
    .trend-gray {
      color: gray !important;
    }

  .top-row {
  } 

  .top-col {
    color: gray;
    height: 80px;
    background: #fff;
    border: 1px #e1e1e1 solid;

    h5 {
      margin: 5px;
    }
    p {
      margin: 2px ;
    }

  }

	ion-card {
		color: #222;
		margin: 5px 0px !important;
		padding: 0px !important;
		width: 100% !important;
		background: #fff !important; 

		ion-item {
			border-top: 0.55px solid #c8c7cc !important;
		}
	
		ion-avatar {
		}

		.card-title {
			font-size: 1.2em;
		}

		.top-avatar {
			width: 100% !important;
			margin: auto;
			img {
				width: 50px !important;
				height: 50px !important;
				margin: auto;
				border-radius: 50% 50% 50% 50%;
			}
		}

    .quote {
      margin-top: 5px;
      word-wrap: break-word; 
      word-break: normal;
      word-break: break-all;
    }
    
    span {
      margin: 0px !important;
      font-size: 0.8em;
      color: gray !important; 
    }

    h3 {
      font-weight: bold !important;
      margin-top: 10px !important;
      margin-bottom: -3px !important;
      font-size: 1.1em !important;
      color: gray !important;
    }

    .forecast-star {
      margin-top: 10px !important;
    }
	}


}
