<!--
  Generated template for the Summary page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>每日预测</ion-title>
  
    <ion-buttons end>
      <button ion-button icon-only color="grey" (click)="presentForecastCreateModal()">
        <ion-icon name="camera"></ion-icon>
      </button>
    </ion-buttons>
  
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-slides #summarySlides pager autoplay="3000" loop="true" speed="1000"> 
    <ion-slide *ngFor="let n of [1, 2, 3]">
      <img src="./assets/slide/slide-{{n}}.jpg">
    </ion-slide>
  </ion-slides>

  <ion-row class="top-row">
    <ion-col class="top-col" text-center *ngFor="let stockIndex of stockIndexs">
      <h5> {{ stockIndex.name }} </h5>
      <p class="trend-{{ stockService.trendColor(stockIndex) }}"> {{ stockIndex.close }} </p>
			<p class="trend-{{ stockService.trendColor(stockIndex) }}"> {{ stockService.trendRange(stockIndex) }} {{ stockService.trendRatio(stockIndex) }} </p>
    </ion-col>
  </ion-row>

	<ion-card> 
		<ion-row class="top-row">
			<ion-col width-50 class="card-title">最佳预测</ion-col>
			<ion-col width-50 text-right>查看更多>> </ion-col>
		</ion-row>

		<ion-list *ngFor="let topForecast of topForecastAccurates">

		</ion-list>

	</ion-card>


</ion-content>
