<!--
  Generated template for the MyProfileUpdate page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Profile Update</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list  padding-top [hidden]="item !== 'displayName'">
    <ion-item>
      <ion-input [(ngModel)]="userInfo.displayName" (ngModelChange)="isUpdated = 'displayName'" name="displayName" type="text" placeholder="昵称" required minlength="3"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list  padding-top [hidden]="item !== 'bio'">
    <ion-item>
      <ion-input [(ngModel)]="userInfo.bio" (ngModelChange)="isUpdated = 'bio'" name="bio" type="text" placeholder="个性签名" required minlength="3"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list  padding-top radio-group [(ngModel)]="userInfo.gender" (ngModelChange)="isUpdated = 'gender'" [hidden]="item !== 'gender'">
    <ion-item>
      <ion-label>男</ion-label>
      <ion-radio name="gender" checked="true" value="1"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>女</ion-label>
      <ion-radio name="gender" checked="true" value="0"></ion-radio>
    </ion-item>
  </ion-list>

  <ion-list  padding-top radio-group [(ngModel)]="userInfo.photoURL" (ngModelChange)="isUpdated = 'photoURL'" [hidden]="item !== 'photoURL'">
    <ion-row>
      <ion-item width-13 *ngFor="let n of [1,2,3,4,5,6,7]" >
        <ion-avatar item-left>
          <img src="./assets/avatar/boy-{{n}}.png">
          <ion-radio name="photoURL" checked="true" value="./assets/avatar/boy-{{n}}.png"></ion-radio>
        </ion-avatar>
      </ion-item>
    </ion-row>

    <ion-row>
      <ion-item width-13 *ngFor="let n of [1,2,3,4,5,6,7]" >
        <ion-avatar item-left>
          <img src="./assets/avatar/girl-{{n}}.png">
          <ion-radio name="photoURL" checked="true" value="./assets/avatar/girl-{{n}}.png"></ion-radio>
        </ion-avatar>
      </ion-item>
    </ion-row>

  </ion-list>


</ion-content>
