page-login {

  .error-message p {
    color: red;
  }

  .fa-qq {
    background: #539dd4;
    border-radius: 50%;
  }
  
  .fa-weixin {
    background: #32a223;
    border-radius: 50%;
  }

  .fa-weibo {
    background: #e15357;
    border-radius: 50%;
  }

}
